.carousel-indicators [data-bs-target] {
  display: none !important;
}
body {
  background-color: #000000;
}
.btn-primary {
  border-color: #000000;
}
.logo img {
  filter: grayscale(100%);
}
.logo img:hover {
  filter: none;
}
